



    <p style = "font-family:impact;font-size:15px;font-style:bold;"> Search by Brand
  <%= form_tag(cookies_path, method: :get,   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
 
      <%= submit_tag "Om Nom Nom Nom" %>  
  
  </div>  
<% end %>


<h1><p style = "font-family:impact;font-style:bold;"> List all cookies in the jar here. </h1>

<ol>
  <% @cookie.each do |cookies| %>
   <h3><li style = "font-family:impact;font-style:bold;">
   <%= cookies.flavour %> - Brand: <%= cookies.brand[:name] %></li></h3>
   <i>
    <p style = "font-family:impact;font-size:15px;"> 
     Description: - <%= cookies.description %></i><br>
    <%= link_to "Write a review", new_cooky_review_path(cookies.id)%></p>
  <% end %>
<h3><p style = "font-family:impact;font-style:bold;">
  Add a <%= link_to "new cookie", new_cooky_path %> to the cookie jar. </h3>