<h1> <p style = "font-family:impact;font-style:bold;">All reviews about cookies here! </h1>

<ol>
<% @reviews.each do |review| %>
<h3><li style = "font-family:impact;font-style:bold;">
 <%= review.cookie.flavour %> - <%= review.cookie.brand.name %> 
<p>Rating: <%= review.rating %> / 5</h3>
<p> 
<h5><p style = "font-family:impact;font-style:bold;"> - <%= review.content %></h5>
<% end %>


<h3><p style = "font-family:impact;font-style:bold;">  Write a <%= link_to "new review", new_review_path %> about cookie!</h3>