
<%= render partial: 'layouts/errors', locals: {object: @review}  %>
<%= form_for(@review) do |f|%>
   
    <% if params[:cooky_id] %>
    <h1><p style = "font-family:impact;font-style:bold;"> Create A Review for <%= @review.cookie.flavour %> - <%= @review.cookie.brand.name %> </h1>
  
    <% else %>
    
        <h1><p style = "font-family:impact;font-style:bold;"> Create Review </h1>
        <div>
        <p style = "font-family:impact;font-style:bold;"><%= f.label :cookie, "Select Cookie" %>
        <%= f.collection_select :cookie, Cookie.alpha, :id, :flavour_and_brand, include_blank: true %>
      </div>
    <% end %>
  
  <div>

 <div>
 <p style = "font-family:impact;font-style:bold;"><%= f.label :rating %><br>
 <%= f.number_field :rating, min:0, max:5 %>
</div>

<div>
<p style = "font-family:impact;font-style:bold;"><%= f.label :title %><br>
 <%= f.text_field :title %>
</div>

<div>
<p style = "font-family:impact;font-style:bold;"><%= f.label :content %><br>
 <%= f.text_area :content %>
</div>
<br>


<%= f.hidden_field :cookie_id %>
        
<%= f.submit "Om Nom Nom Nom" %>

<% end %>
        