<!DOCTYPE html>
<html>
  <head>
    <title>CookieMonstersCookieJar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    
<div align="right">
<h5>CookieMonstersCookieJar <span id="datetime"></span></h5>
</div>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAU4AAACXCAMAAABNy0IIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVP7W8GoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADOAMWZAAFyFUqwAAAAAElFTkSuQmCC">

  <body>
  <div align="center"> 
  <%= link_to "Home", root_path %>
  <%= link_to "Login", login_path %>
  <%= link_to "Signup", signup_path %>
  <%= link_to "Log Out", logout_path, method: :delete %>

</div>


    <%= yield %>
  </body>
</html>