<!DOCTYPE html>
<html>
  <head>
    <title>CookieMonstersCookieJar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    
<div align="right">
<p style = "font-family:impact;font-size:15px;font-style:bold;">
CookieMonstersCookieJar <span id="datetime"></span><br>

<%= link_to "All Cookies", cookies_path %> |
<%= link_to "New Cookie", new_cooky_path %> |
<%= link_to "All Reviews", reviews_path %> |
<%= link_to "New Review", new_review_path %> |
<%= link_to "All Brands", brands_path %> |
<%= link_to "Log Out", logout_path, method: :delete %>

</p>
</div>
  



<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://wallpaperaccess.com/full/1277911.jpg">


  <body>
  <p style = "font-family:impact;font-style:bold;">

</div>


    <%= yield %>
  </body>
</html>